
//Main config
.button{
  min-width: 140px;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}

//size
.medium{
  line-height: 2.75;
  padding: 0 2.5em;
}

.large{
  line-height: 3.5;
  padding: 0 2.5em;
}

//variant

.primary{
  background-color: black;
  color: white;
  border: 1px solid white;
}

.transparent--white{
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.blue--white{
  background: #5454D4;
  color: white;
  border: 1px solid black;
}
