.placeholder{
  background-image: url("../../assets/img/VideoPoster.jpg");
  width: 1200px;
  height: 670px;
}

.VideoBlock_H2{
  text-align: left;
  padding: 0 0 40px 0;
}

.VideoBlock_P{
  padding: 10px;
}
