.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  color: white;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav{
  display: flex;
  gap: 20px;
}
.NavLink{
  text-decoration: none;
  color:white ;
}

.logoImg{
  background-image: url("../../assets/img/Logo.png");
  width: 40px;
  height: 40px;
}
